:root {
    --bg-general: #ffffff; 
    --font-text: #000000; 
    --font-soft: #000000; 
    --main-font:  #000000; 
    --font-title:  #000000; 
    --font-search: #000000; 
    --bg-general-alt: #ff0000; 
    --font-subtitle: #555555; 
  }